version: '3.8'

services:
  notification-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: notification-service
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DOTNET_RUNNING_IN_CONTAINER=true
      - EmailSettings__SMTPSetting__Host=papercut
      - EmailSettings__Port=25
      - EmailSettings__EnableSsl=false
      - EmailSettings__DefaultUserName=test
      - EmailSettings__SenderEmailPassword=test
      - DefaultSenderEmail=no-reply@local.test
      - RabbitMQ__HostName=rabbitmq
      - RabbitMQ__Username=guest
      - RabbitMQ__Password=guest
    depends_on:
      - papercut
      - rabbitmq

  papercut:
    image: changemakerstudiosus/papercut-smtp:latest
    container_name: notification-service.papercut
    ports:
      - "37408:8080"
      - "2525:2525"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
