@model SubsTracker.Messaging.Contracts.SubscriptionRenewedEvent

<p>Hallo, schweisse Catchen!</p>
<p>Ihre Abonnement wurde bis <strong>@Model.NewExpirationDate.ToString("dd.MM.yyyy")</strong> verlängert.</p>
